// Color
$bg-nav : #E26A2C;
$primary-d1: #FF8243;
$primary-m1: #FDA65D;
$primary-brand: #E26A2C;
$primary-l1: #FFD07F;
$gray-d2: #181C24;
$gray-d1: #535965;
$gray-m1: #91959C;
$gray-l2: #B5B7BC;
$gray-l1: #E5E5E7;
$white: #FFFFFF;
$positive-2: #12805C;
$positive-1: #268E6C;
$negative-2: #C9252D;
$negative-1: #D7373F;