@import '../../sass/mixin';

.navBorder {
    border-bottom: 3px solid #FFD07F;
}

.sec1textbg {
    background-color: #E5E5E7;
}

.homeHeroImg {
    width: 50vw;
    height: 70vh;
}

.section3 {
    margin-top: 4rem;
}

.sec3Img {
    height: 22rem;
    width: 33rem;
}

.sec1text {
    margin: 5rem 7rem 5rem 3rem;
    text-align: left;
}

.sec3text {
    margin: 1rem 4rem 5rem 10rem;
    text-align: left;
}

.section4 {
    margin-left: 6.5rem;
}

.sec4text {
    margin: 3rem 5rem 5rem 4rem;
    text-align: left;
    color: #fff;
}

.sec4Img {
    margin-top: 1rem;
    width: 49.5vw;
    height: 46vh;
    position: relative;
}

.Imagetopmargin {
    margin-left: 7rem;
    margin-top: -2rem;
    background-color: white;
}

.headertxt {
    font-size: 40px;
    margin: 0%;
}

.homeContainer {
    background-color: #fff;
}

.sec4div {
    background-color: #1B252C;
    width: 32.5vw;
    height: 50vh;
    position: relative;
}

.shopdevice {
    @include button;
    background-color: #1B252C;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 10px;
}

.ImgWidth {
    width: 85%;
}

.ImgBottom {
    width: 235px;
    height: 50px;
    background: #1B252CD9 0% 0% no-repeat padding-box;
    opacity: 1;
    color: #fff;
    //  z-index: -1;
    border-bottom: 0.5rem solid $bg-nav;
    padding: 1rem;
    margin-top: -70px;
    position: absolute;
}

.shopbtn {
    @include button;
}

.shopcollbtn {
    @include button;
    background-color: #fff;
    color: #E26A2C;
    border: 1px solid #E26A2C;
}

.sec1Sidearrow {
    margin-top: 15rem;
}

.mapIcon {
    margin-top: -6rem;
    margin-left: 6rem;
    position: absolute;
    opacity: 1;
}

.mapBorder {
    width: 5rem;
    align-items: center;
    height: 5px;
    margin-top: -3rem;
    margin-left: 4rem;
    position: absolute;
}


@media screen and (min-width:320px) and (max-width:767px) {
    .homeContainer {
        margin: 0%;
    }

    .Imagetopmargin {
        margin: 0%;
        background-color: white;
    }

    .ImgWidth {
        width: 75vw;
        height: 38vh !important;
        margin-left: 3rem;   
     }

    .sec3text {
        margin: 0%;
    }

    .sec4div {
        background-color: #1B252C;
         width: 90vw !important;
         height: fit-content;
        position: relative;
        margin-top: -2rem;
        margin-left: 1rem;
        text-align: center;
    }

    .section1 {
        display: flex;
        flex-direction: column;
    }

    .sec4Img {
        margin-top: 1rem;
        width: 100vw;
        height: 28vh;
        position: relative;
    }

    .section3 {
        display: flex;
        flex-direction: column-reverse;
    }

    .section4 {
        margin: 0%;
    }
    .sec3text{
        text-align: center;
    }

    .sec4text {
        margin: 3rem 1rem 1rem 1rem;
        text-align: center;
    }

    .headertxt {
        font-size: 35px;
    }
  
    .shopdevice {
        width: 140px;
    }

    .mapIcon {
        margin-top: -16.7rem;
        margin-left: -8rem;
        position: absolute;
        opacity: 1;
    }

    .mapBorder {
        width: 5rem;
        align-items: center;
        height: 5px;
        margin-top: -14rem;
        margin-left: -10rem;
        position: absolute;
    }

    .heroImgPhone {
        width: 100vw;
        position: relative;
    }

    .homeHeroImg {
        display: none;
    }

    .sec1text {
        position: absolute;
        margin: -16rem 1rem 1rem 1rem;
        text-align: center;
    }

    .textdesktop {
        display: none;
    }

    
    .ImgBottom {
        width: 85vw;
        margin-top: -100px;
        margin-left: 0.9rem;
    }
    .shopbtn{
        margin-top: 1rem;
        margin-left: -5px;
    }
}


@media screen and (min-width: 1024px){
    .heroImgPhone{
        display:none;
    }
}
    
