
// .homeHeroImg{
//     height: 40rem;
// }
.sec3Img{
    height: 28rem;
    width: 37rem;
}
.homeContainer{
    background-color: #fff;
}
.section2{
    text-align: center;
}
.ImgBottom{
    height:90px;
    background-color: black;
}