.clrdiv {
  height: 3vh;
  width: 6vw;
}

.sortBy {
  float: right;
  height: 2rem;
  border-radius: 6px;
  width: 12rem;
}

.productImage {
  background-color: #f3f3f3;
  border: 1px solid #e5e5e7;
  display: flex;
  justify-content: center;
  line-height: 0;
  margin: 0;
  padding: 10px;

}
.productList{
  padding-right: 4rem;
}
.card {
  padding-right: 2em;
}

.card figure img {
  background-color: initial;
  height: 280px;
  max-width: 100%;
  mix-blend-mode: multiply;
  object-fit: contain;
  opacity: 1;
}

.Filter {
  text-align: left;
  padding-left: 5rem;
}

.card {
  cursor: pointer;

}

.prodTitle {
  font-size: 16px;
  text-align: left;
  margin: 0%;

}

.resultcount {
  margin: 2% 4% 2% 4%;
}

.price {
  margin: 0%;
  font-size: 16px;
  text-align: left;
  
}

.heartIcon {
  float: left;
 
}

.resultcount {
  text-align: left;
}

.checkbox {
  margin: 0%;
}

.Filter {
  text-align: left;
  padding-left: 4rem;
  padding-right: 1rem;
}

ul.pagination {
  list-style: none;
  display: inline-flex;

  a {
    color: black;
  }

  li {
    padding: 0.5rem;
    text-decoration: none;

    :focus {
      color: blue;
    }
  }
}



@media screen and (min-width:768px) {
  .phoneFilters {
    display: none;
  }
}

@media only screen and (min-width:768px) and (max-width:1023px) {

  .card figure img {
    height: 10rem!important;
    max-width: 100%;
  }

  .filtertext {
    font-size: small;
  }

  .Filter {
    padding-left: 3rem !important;
  }
  .card{
    height: 18rem;
    padding: 0 11px 16px 0;
  }

}

@media only screen and (min-width:320px) and (max-width:768px) {

  .Filter {
    margin-top: 3rem;
    width: 60vw;
    position: absolute;
    background-color: white;
    z-index: 1;
    height: 70vh;
    padding-left: 1rem !important;
  }
  .productList{
    padding:0% !important;
  }

  .heroBanner {
    order: 1;
  }

  .heroTxt {
    order: 2;
  }

  .filtertext {
    display: none;
  }
  .card {
    padding: 0.5em;
  }
  // .productImage {
  //   width: 35vw;
  // }

  .sortBy {
    display: none;
  }

  .resultcount {
    text-align: center !important;
  }

  .heroImg {
    display: flex;
    flex-direction: column;
  }

  .herobanner {
    width: 100vw;
    height: 12rem;
    margin: 0%;
    padding: 0%;

  }

  .heroTxt {
    height: 10rem;
    width: 21rem !important;
    margin-top: -10%;
    margin-left: 2rem;
  }

  .whiteTxt {
    padding-top: 0vh;
  }

  // .prodTitle {
  //   margin-left: 1.5rem;

  // }

  // .price {
  //   margin-left: 1.5rem;

  // }

  // .heartIcon {
  //   margin-left: 1.5rem;
  // }

  .phoneFilters {
    margin-top: 0.5rem;
  }
}