.heroTxt {
    background-color: black;
    height: 22rem;
    width: 34rem;
    // padding-top: 3vh;
}

.whiteTxt {
    color: white;
    padding-top: 20vh;
}

hr.heroHr {
    width: 10%;
    border: 1px solid blue;
}

.herobanner {
    width: 60vw;
    height: 48vh;
    margin: 0.5rem 2.2rem 0rem 0rem;
}